<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SetGame2021.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>280A560F25AFF6F4004B92A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>280A562025AFF6F5004B92A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>280A562B25AFF6F5004B92A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
